.contenedor-perfil{
    border: 2px solid #ff2727be; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
}

.imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
}

p{
    padding-left: 10px;
}

ul li {
    font-size: x-large;
    color: blue;
}